.container {
  margin-top: 1%;
  margin-bottom: 1%;
}

.container-min {
  min-height: calc(100vh - 150px);
}

.site-breadcrumb {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.img-fit {
  object-fit: cover;
}
