<div class="container">
  <div class="row">
    <div class="col-12 d-flex">
      <div class="w-100">
        <h2 class="stick chat_header rounded-lg border-top-1">
          <i class="fas fa-guitar"></i> > Toutes les guitares <%= @title_inject %> !
        </h2>
        <% @guitars.each do |guitar| %>
          <%= render "card", guitar: guitar %>
        <% end %>
      </div>
    </div>
  </div>
</div>
