
<div class="container">

  <div class="guitar-title-price">
    <h1>@guitar.brand @guitar.model</h1>
    <p>@guitar.price_per_day</p>
  </div>

  <div class="img"></div>
  <div class="calendar"></div>


</div>


