
<div class="container">

    <div class="guitar-title-price">
      <h1>@guitar.brand @guitar.model</h1>
      <p>@guitar.price_per_day</p>
    </div>

    <div class="guitar-img"></div>

    <div class="calendar-card"></div>

    <div class="guitar-description"></div>


    <div class="user-card">
     <p> @user.first_name @user.last_name </p>
     <p> @user.address </p>
    <p> @user.email </p>

    </div>


</div>


