<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://cdn.shopify.com/s/files/1/2062/6813/products/01-traveler-guitar-speedster-wine-red-front.jpg?v=1532190202);">
  <div class="container">
    <h1>GuitaRnb</h1>
    <p>Rent a guitar around the world.</p>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center mt-4">
    <div class="col-12 col-lg-6 ">
      <h1>Choose a guitar</h1>
      <%= link_to "List", guitars_path, class: "btn btn-outline-danger my-2 my-sm-0 px-4"  %>
      <p>Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset. natus apud Tuscos in Massa Veternensi, patre Constantio Constantini fratre imperatoris, matreque Galla sorore Rufini et Cerealis, quos trabeae consulares nobilitarunt et praefecturae.

Cum saepe multa, tum memini domi in hemicyclio sedentem, ut solebat, cum et ego essem una et pauci admodum familiares, in eum sermonem illum incidere qui tum forte multis erat in ore. Meministi enim profecto, Attice, et eo magis, quod P. Sulpicio utebare multum, cum is tribunus plebis capitali odio a Q. Pompeio, qui tum erat consul, dissideret, quocum coniunctissime et amantissime vixerat, quanta esset hominum vel admiratio vel querella.

Et quia Mesopotamiae tractus omnes crebro inquietari sueti praetenturis et stationibus servabantur agrariis, laevorsum flexo itinere Osdroenae subsederat extimas partes, novum parumque aliquando temptatum commentum adgressus. quod si impetrasset, fulminis modo cuncta vastarat. erat autem quod cogitabat huius modi.   </p>
    </div>
  </div>
</div>
