.user-card {
  padding: 20px;
  background-color: white;
  height: 100%;

  .review {
    font-size: 12px;
    margin-top: 10px;
  }
}

// Sur la page Liste Guitar, product finder, fiche user
.card-product {
  overflow: hidden;
  height: 160px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 10px;
}

.card-product img {
  margin-left: 4px;
}

.card-product-image {
  border: grey 1px solid;
  border-radius:50%;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product-infos{
  position: relative;
}

.card-product-infos #btn-show-profil {
  position: absolute;
  bottom: 10px;
  right: 20px;
}


